<div class="footer">
  <h5>Rua Senador Dantas, nยบ 24
Centro, Rio de Janeiro/RJ 20031-203  |

+55(21) 3226-5151</h3>
  <div class="footer-links">
    <a href="https://www.instagram.com/hotelokrj/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/hoteisok" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>