<div class="card-category">
    AMENIDADES E SERVIÇOS
</div>

<div class="container">
    <div class="row">
        <div class="column">
            <%= image_tag "piscina.jpg", class: "image-index" %>
        </div>
        <div class="column">
            <%= image_tag "cafe.jpg", class: "image-index" %>
           
        </div>
        <div class="column">
            <%= image_tag "academia.jpg", class: "image-index" %>
        </div>

        <div class="column">
            <div class="card-white">
                <p>
                    Piscina em terraço amplo
                    <br>
                    Academia
                    <br>
                    Wi-Fi gratuito
                    <br>
                    Salas de eventos
                    <br>
                    Cafeteria no térreo
                    <br>
                    Ponto de táxi em frente ao hotel
                    <br>
                    Café da manhã com buffet
                </p>
            </div>
        </div>
    </div>
</div>