<div class="card-category">
    EVENTOS
</div>
<div class="container">
    <div class="row">
        <div class="column">
            <%= image_tag "eventos.jpg", class: "image-index" %>           
        </div>

        <div class="column">
            <p class="card-white">
                O Hotel OK possui três salas para convenções e eventos empresariais.
                <br><br>
                Sala Búzios - 52m²
                <br>
                Sala Paraty - 60m²
                <br>
                Sala Saint Tropez - 70m²
        
            </p>        
        </div>
    </div>
</div>